<ul>
  <li><h3><a href="<%= serializar_basic_path %>">Serializar un objeto básico</a></h3></li>
  <li><h3><a href="<%= serializar_meta_path %>">Serializar un objeto agregandole metas</a></h3></li>
  <li><h3><a href="<%= serializar_custom_path %>">Serializar un Objeto con un serializador diferente al basico</a></h3></li>
</ul>