<ul>
	<li><h2><a href="<%= join_path %>">Ruby on Rails desde Cero: ActiveRecord parte 2</a></h2></li>
	<li><h2><a href="<%= validation_path %>">Ruby on Rails desde cero: ActiveRecord Validaciones</a></h2></li>

</ul>